.hero__text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2em;
  color: var(--white);

  @media (--ml) {
    width: 50%;
    padding-top: 7em;
  }

  @media (--xl) {
    padding-left: calc(var(--h-padding-xl) * 2);
  }
}

.hero__title {
  text-align: center;
  text-transform: capitalize;
  width: 50%;
  margin: 0 auto 12px;

  @media (--ml) {
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

.hero__text {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  @media (--ml) {
    width: 100%;
    text-align: left;
  }

  @media (--xl) {
    width: 75%;
    margin: 0;
  }
}

.hero__background-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (--ml) {
    flex-direction: row;
  }

  background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,0)), url({{ '//cdn.shopify.com/s/files/1/0504/0789/9288/files/knobcreek-1293609732325191.jpg' }});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__foreground-image-wrapper {
  width: 60%;
  padding: 32px 0;
  margin: 0 auto;

  @media (--xs) {
    width: 33%;
  }

  @media (--ml) {
    width: 50%;
    padding: 90px 0;
    max-width: none;
  }
}

.hero__foreground-image {
  width: 100%;
  padding-bottom: 191%;
  margin: 0 auto;

  @media (--ml) {
    width: 50%;
    padding-bottom: 95%;
  }

  background-image: url({{ '//cdn.shopify.com/s/files/1/0504/0789/9288/files/knobcreek_1197c81e-5971-4d1d-a256-454230383ddd.png' }});
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
