<div class="hero">
  <div class="hero__background-image wrapper">
    <div class="hero__text-container">
      <h1 class="hero__title main-title-text">{{ 'homepage.sections.hero_title' | t }}</h1>
      <div class="hero__text paragraph-text">{{ 'homepage.sections.hero_text' | t }}</div>
    </div>
    <div class="hero__foreground-image-wrapper">
      <div class="hero__foreground-image"></div>
    </div>
  </div>
</div>
