<div class="featured-post wrapper">
  <div class="featured-post__image-container">
    <a class="block" href="{{ article.url }}">
      <div class="featured-post__image" alt="{{ article.title }}"></div>
    </a>
  </div>

  <div class="featured-post__meta">
    <div class="featured-post__icon">{% include 'post-icon' %}</div>

    <time class="featured-post__date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d' }}</time>

    <h3 class="featured-post__title"><a href="{{ article.url }}">{{ article.title }}</a></h3>

    <div class="featured-post__excerpt paragraph-text">{{ article.content | strip_html | truncate: 150 }}</div>

    {% include 'read-more' %}
  </div>
</div>
