.featured-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: var(--mongoose);
  padding-bottom: 20px;

  @media (--xs) {
    padding-bottom: 30px;
  }

  @media (--ml) {
    flex-direction: row;
    padding-bottom: 50px;
  }

  .read-more {
    @media (--ml) {
      font-size: 16px;
    }
  }
}

.featured-post:hover {
  .read-more {
    color: var(--redDark);
  }
}

.featured-post__image-container {
  width: 100%;
  margin-top: -20px;

  @media (--xs) {
    margin-top: -30px;
  }

  @media (--ml) {
    margin-top: -200px;
    width: 50%;
  }

  @media (--xl) {
    margin-top: -300px;
  }
}

.featured-post__image {
  width: 100%;
  padding-bottom: 100%;

  @media (--xs) {
    padding-bottom: 58.6%;
  }

  @media (--ml) {
    padding-bottom: 100%;
  }

  background-image: url({{ '//cdn.shopify.com/s/files/1/0504/0789/9288/files/pour-mug.jpg?v=1604454038' }});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.featured-post__meta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--white);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;

  @media (--xs) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (--ml) {
    width: 50%;
    margin-top: -200px;
  }

  @media (--xl) {
    margin-top: -300px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
  }
}

.featured-post__icon {
  width: 58px;
  height: 58px;
  background: var(--white);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .post-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.featured-post__date {
  display: block;
  font-size: 12px;
  font-weight: var(--f-weight-bold);
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;

  @media (--ml) {
    font-size: 16px;
  }
}

.featured-post__title {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 1.25em;

  @media (--ml) {
    width: 66%;
  }

  @media (--xl) {
    font-size: 1.5em;
    margin-bottom: 16px;
    line-height: 1.4;
  }
}

.featured-post__excerpt {
  margin-bottom: 8px;

  @media (--ml) {
    margin-bottom: 16px;
  }
}
